/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

.logo-container {
  display: flex;
  align-items: flex-end;
}

.logo {
  font-size: 1.5em;
  line-height: 1.1;
  text-decoration: none;
  color: white;
  display: flex;
  margin-left: 5px;
  margin-bottom: 4px;
}

.logo:hover {
  color: rgb(21, 255, 130);
  cursor: pointer;
}

.logo:active {
  color: rgb(114, 255, 180);
  cursor: pointer;
}

.eq-dir {
  margin-left: 10px;
  margin-bottom: 3px;
}

.item-input {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
  width: 50%;
}

.header-main-container {
  /*background-color: #6495ff;*/
  /*background-color: #070707;*/
  /*alt*/
  background-color: #222f3e;
  height: 45px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;

  text-transform: uppercase;
}

.header-buttons-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}

.header-button {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.header-button:hover {
  color: #12347d;
  cursor: pointer;
}

.header-button:active {
  color: #1b4bb3;
  cursor: pointer;
}

.eqdir-container {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.sub-header {
  background-color: #141414;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 25px;
  top: 45px;
  left: 0;
  margin: 0;
  text-transform: uppercase;
}

.views-select {
  display: flex;
}

.view-option {
  color: rgba(97, 97, 97, 0.867);
  margin-left: 10px;
  margin-right: 10px;
}

.view-option:hover {
  color: rgb(21, 255, 130);
  cursor: pointer;
}

.view-option:active {
  color: rgb(145, 255, 197);
  cursor: pointer;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
}

.table-container th,
.table-container td {
  padding: 8px; /* Adjust padding as needed */
  text-align: center; /* Center-align text in cells */
  font-weight: bold;
}

.table-container th {
  background-color: #202734; /* Add background color to header cells */
  font-weight: bold; /* Make header text bold */
}

tbody tr:nth-child(odd) {
  background-color: #1e1e1e;
}

tbody tr:nth-child(even) {
  background-color: #151515;
}

tbody tr:hover {
  background-color: #0c0c0c;
}

tbody tr:active {
  background-color: #222f3e;
}

.page-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 3px;
}

.button {
  text-align: center;
}
